.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
Backend/[Dd]ebug/
Backend/[Rr]elease/
Backend/[Bb]in/
Backend/[Oo]bj/
Backend/packages/
Backend/*.nupkg
Backend/project.lock.json
.idea/
Frontend/vite/node_modules/
Frontend/vite/dist/ 